---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Lore from "../components/Lore.astro";
import CityShowcase from "../components/CityShowcase.astro";
import GodsPantheon from "../components/GodsPantheon.astro";
import Homelands from "../components/Homelands.astro";

import PowerPaths from "../components/PowerPaths.astro";
import Factions from "../components/Factions.astro";
import MajorCharacters from "../components/MajorCharacters.astro";
import QuestHook from "../components/QuestHook.astro";
import SessionZero from "../components/SessionZero.astro";

---

<Layout>
  <Header />
  <main>
    <Hero />
    <Lore />
    <CityShowcase />
    <GodsPantheon />
    <Homelands />
    <PowerPaths />
    <Factions />
    <MajorCharacters />
    <QuestHook />
    <SessionZero />

  </main>
</Layout>
