---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Lore from "../components/Lore.astro";
import CityShowcase from "../components/CityShowcase.astro";
import GodsPantheon from "../components/GodsPantheon.astro";
import Homelands from "../components/Homelands.astro";

import PowerPaths from "../components/PowerPaths.astro";
import Factions from "../components/Factions.astro";
import MajorCharacters from "../components/MajorCharacters.astro";
import QuestHook from "../components/QuestHook.astro";
import CtaFooter from "../components/CtaFooter.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <div class="divider-ornate"></div>
    <Lore />
    <CityShowcase />
    <div class="divider-ornate"></div>
    <GodsPantheon />
    <div class="divider-ornate"></div>
    <Homelands />

    <PowerPaths />
    <div class="divider-ornate"></div>
    <Factions />
    <MajorCharacters />
    <div class="divider-ornate"></div>
    <QuestHook />
  </main>
</Layout>
